{% extends 'base.html.twig' %}

{% block title %}Add Apartment{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
    {{ form_end(form) }}
{% endblock %}
